<<<<<<< HEAD
<%- include('component/head.ejs') %>
<body>
<%- include('component/navbar.ejs') %>
 
<%- include('component/footer.ejs') %>
</body>
=======
<%- include('component/head.ejs') %>
<body>
<%- include('component/navbar.ejs') %>
 
<%- include('component/footer.ejs') %>
</body>
>>>>>>> origin/feature/auth
</html>